*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 22);
}

.main{
    background-color: rgb(65, 63, 63);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 20px;
}

.main img{
    width: 550px;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    color: azure;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input {
    text-align: center;
    width: 200px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 3px solid rgb(0, 80, 250);
    background: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(27, 27, 27);
    background-color: rgb(250, 210, 15);
}

.input:hover{
    background-color: rgb(0, 80, 250);
    color: rgb(250, 210, 15);
    border: 3px solid rgb(250, 210, 15);
}

.pokemon-boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.pokemon-box{
    border-radius:20px;
    width: 18%;
    margin: 20px 5px;
    background-color:rgb(190, 180, 180);
    border: 2px solid rgb(0, 80, 250);
    transition: 0.3s;
}

.pokemon-box:hover {
    width: 22%;
    border-radius:20px;
    margin: 10px;
    background-color:rgb(255, 255, 255);
    border: 5px solid rgb(250, 210, 15);
}

.pokemon-box img{
    align-items: center;
    width: 100%;
}

.pokemon-box p{
    color:rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 0 10px 10px 5px;
}

@media screen and (max-width:768px){
    .main {
        width: 80%;
        margin-left: 10%;
    }

    .main img{
        width: 80%;
    }

    .input {
        text-align: center;
        width: 120px;
        padding: 5px 10px;
        border-radius: 30px;
        border: 3px solid rgb(0, 80, 250);
        background: none;
        font-size: 20px;
        font-weight: 700;
        color: rgb(27, 27, 27);
        background-color: rgb(250, 210, 15);
    }

    .subtitle {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: azure;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .pokemon-box{
        width: 80%;
        text-align: center;
        align-items: center;
    }

    .pokemon-box img{
        max-width: 80%;
        align-items: center;
    }

    .pokemon-box:hover {
        width: 90%;
    }

    .pokemon-box p{
        color:rgb(0, 0, 0);
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        padding:10px 0;
    }
}