*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 22);
}

.main{
    background-color: rgb(65, 63, 63);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 80px;
    padding: 20px;
}

.main img{
    width: 550px;
}

.input {
    width: 400px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 3px solid rgb(22, 22, 22);
    background: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(27, 27, 27);
    background-color: rgb(248, 213, 15);
}

.input:hover {
    background-color: rgb(0, 81, 255);
    color: rgb(248, 213, 15);
}

.pokemon-boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.pokemon-box{
    border-radius:20px;
    width:20%;
    margin: 20px 5px;
    background-color:rgb(190, 180, 180);
    border: 2px solid rgb(0, 81, 255);
    transition: 0.3s;
}

.pokemon-box:hover {
    width: 24%;
    border-radius:20px;
    margin: 10px;
    background-color:rgb(255, 255, 255);
    border: 5px solid rgb(250, 210, 15);
}

.pokemon-box img{
    width:100%;
}

.pokemon-box p{
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding:10px 0;
}

@media screen and (max-width:768px){
    .pokemon-box{width:100%;text-align: center;}
    .pokemon-box img{
        max-width: 300px;
    }
}